
		*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
			scroll-behavior: smooth;
		}

		body{
			background:linear-gradient(rgba(0,0,0,1.0),rgba(0,0,0,0.3)), url('backgroundimage.jpg');
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}

		.container{
			width: 100%;
			padding-left: 6%;
			padding-right: 6%;
			box-sizing: border-box;
			overflow-x: hidden;
		}

		.navbar{
			position: fixed;
			background-color: #000;
			z-index: 1000;
			top: 0;
			left: 0;
			width: 100%;
			height: 70px;
			line-height: 70px;
		}

		.logo{
			color: #c0f537;
			font-weight: bolder;
			letter-spacing: 2px;
			text-decoration: none;
			font-size: 27px;
			margin-left: 6%;
		}

		.menubar{
			color: white;
			width: 20px;
			font-size: 18px;
			cursor: pointer;
			display: none;
			z-index: 10001;
		}

		nav{
			display: flex;
			float: right;
			margin-right: 6%;
		}


		nav ul li{
			list-style: none;
			display: inline-block;
			margin-right: 80px;
		}

		nav ul li a{
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 13px;
			transition: all 0.3s;
			padding-bottom: 20px;
		}

		nav ul li .contact{
			padding: 8px;
			border: 2px solid #58e9d7;
			border-radius: 20px;
		}

		nav ul li .home:hover, nav ul li .about:hover{
			color: #58e9d7;
		}

		nav ul li .contact:hover{
			background-color: #58e9d7;
			color: black;
		}





		/* Main Content */

		.row-1{
			align-items: center;
			text-align: center;
			margin-top: 250px;
		}

		.column{
			line-height: 45px;
			position: relative;
		}

		.column h2{
			color: white;
			opacity: 0.6;
			font-size: 20px;
		}

		.column h3{
			color: white;
			opacity: 0.6;
			letter-spacing: 1px;
			margin-top: -1px;
			margin-bottom: 5px;
			font-size: 17px;
		}

		.myname{
			text-transform: uppercase;
			font-size: 50px;
			font-family: Verdana;
			color: #58e9d7;
			font-weight: bolder;
		}

		.web{
			margin-top: -15px;
			font-size: 20px;
			text-transform: uppercase;
			font-family: Verdana;
			color: #c0f537;
			font-weight: bolder;
		}

		.column:hover .web{
			font-family: Verdana;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 30px;
			color: #c0f537;
			transform: translateY(10px);
			transition: all 0.3s ease;
			text-shadow: 1px 1px 15px #c0f537;
		}

		.linkedin1 .fa-linkedin{
			font-size: 19px;
			padding: 8px 10px;
			border: 1px solid #58e9d7;
			border-radius: 50%;
			color: #58e9d7;
			margin: 30px 10px;
		}

		.linkedin1 .fa-linkedin:hover{
			transform: scale(1.2);
			transition: all 0.3s;
			color: #052029;
			background-color: #58e9d7;
			box-shadow: 1px 1px 35px 2px #58e9d7;
		}

		.mail1 .fa-envelope{
			font-size: 19px;
			padding: 8px 9.5px;
			margin: 30px 10px;
			border: 1px solid #58e9d7;
			border-radius: 50%;
			color: #58e9d7;
		}

		.mail1 .fa-envelope:hover{
			transform: scale(1.2);
			transition: all 0.3s;
			color: #052029;
			background-color: #4E91FD;
			box-shadow: 1px 1px 35px 2px #4E91FD;
			border: 1px solid #4E91FD;
		}

		.cv{
			position: relative;
			border: 2px solid #58e9d7;
			color: white;
			padding: 12px 13px;
			border-radius: 30px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: bolder;
		}

		.cv:hover{
			background-color: #58e9d7 ;
			color: #052029;
			transform: scale(1.15);
			transition: all 0.4s;
			box-shadow: 1px 1px 35px 2px #58e9d7;

		}






		/* About me */

		.row-2{
			position: relative;
			text-align: center;
			margin: 200px 0px 200px 0px;
		}

		.dummyline{
			height: 150px;
		}

		.aboutme{
			color: white;
			font-family: Verdana;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: bolder;
			border-bottom: 1px solid #58e9d7;
			border-top: 1px solid #58e9d7;
		}

		.myimage{
			width: 256px;
			height: 252px;
			margin-top: 40px;
			border: 2px solid #58e9d7;
			border-radius: 50%;
			box-shadow: 1px 1px 20px #58e9d7;
		}

		.aboutmedesc{
			color: white;
			margin: 30px 1px;
			font-size: 15px;
			font-family: Verdana;
			left: 380px;
			line-height: 28px;
		}

		.row-2 p span{
			color: #58e9d7;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bolder;
		}

		




 		/* Contact me */

		.row-3{
			position: relative;
			text-align: center;
			margin: 250px 0px 320px 0px;
		}

		.contactme{
			color: white;
			font-size: 25px;
			font-family: Verdana;
			font-weight: bolder;
			text-transform: uppercase;
			border-bottom: 1px solid #58e9d7;
			border-top: 1px solid #58e9d7;
		}

		.contactmedesc{
			color: white;
			margin: 20px 1px;
			font-size: 15px;
			font-family: Verdana;
			left: 380px;
			line-height: 28px;
		}			

		.row-3 p span{
			color: #c0f537;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bolder;
		}

		.social2{
			margin: 20px 0px;
		}

		.linkedin2 .fa-linkedin{
			font-size: 25px;
			padding: 8px 11px;
			margin: 0px 10px;
			border: 1px solid #58e9d7;
			border-radius: 50%;
			color: #58e9d7;
		}

		.linkedin2 .fa-linkedin:hover{
			transform: scale(1.2);
			transition: all 0.3s;
			color: #052029;
			background-color: #58e9d7;
			box-shadow: 1px 1px 35px 2px #58e9d7;
		}

		.mail2 .fa-envelope{
			font-size: 25px;
			padding: 8px 9.5px;
			margin: 0px 10px;
			border: 1px solid #58e9d7;
			border-radius: 50%;
			color: #58e9d7;
		}

		.mail2 .fa-envelope:hover{
			transform: scale(1.2);
			transition: all 0.3s;
			color: #052029;
			background-color: #4E91FD;
			box-shadow: 1px 1px 35px 2px #4E91FD;
			border: 1px solid #4E91FD;
		}

		.insta2 .fa-instagram{
			font-size: 25px;
			padding: 8px 12px;
			margin: 0px 10px;
			border: 1px solid #58e9d7;
			border-radius: 50%;
			color: #58e9d7;
		}

		.insta2 .fa-instagram:hover{
			transform: scale(1.2);
			transition: all 0.3s;
			color: #052029;
			background-color: #fc46aa;
			box-shadow: 1px 1px 35px 2px #fc46aa;
			border: 1px solid #fc46aa;
		}






		/* Responsive */

		@media only screen and (max-width:590px)
		{	
			.column h2{ font-size: 18px; }

			.column h3{ font-size: 15px; }

			.myname{ font-size: 40px; }

			.web{ font-size: 20px; }

			.column:hover .web{ font-size: 30px; }

		}

		@media only screen and (max-width:480px)
		{
			.column h2{ font-size: 16px; }

			.column h3{ font-size: 14px; }

			.myname{ font-size: 30px; }

			.web{ font-size: 15px; }

			.column:hover .web{ font-size: 20px; }

		}

		@media only screen and (max-width:362px)
		{
			.myname{ font-size: 25px; }

			.web{ font-size: 13px; }

			.column:hover .web{ font-size: 17px; }

		}


		@media only screen and (max-width:785px)
		{
		
			.row-1{
				margin-top: 285px;
			}

			.menubar{
				display: block;
			}

			nav ul{
				width: 50%;
				background:linear-gradient(rgba(0,0,0,1.0),rgba(0,0,0,0.3));
				position: absolute;
				top: 70px;
				right: -100%;
				z-index: 2;
				text-align: center;
				transition: all 0.4s;
				padding-left: 30px;
				border: 1px solid #c0f537;
				border-radius: 20px;
			}

			nav ul li{
				display: block;
				margin-left: 50px;
			}

			nav .menulist.open{
				right: 20px;
			}


		}

		
		@media only screen and (max-width:550px)
		{
			.linkedin1 .fa-linkedin:active{
			transform: scale(1.2);
			transition: all 0.3s;
			color: #052029;
			background-color: #58e9d7;
			box-shadow: 1px 1px 35px 2px #58e9d7;
		}

		.mail1 .fa-envelope:active{
			transform: scale(1.2);
			transition: all 0.3s;
			color: #052029;
			background-color: #4E91FD;
			box-shadow: 1px 1px 35px 2px #4E91FD;
			border: 1px solid #4E91FD;
		}
			
			nav .menulist.open{
				width: 90%;
				left: 26px;
			}
			
		}

		@media only screen and (max-width:530px)
		{
			nav .menulist.open{
				width: 90%;
				left: 23px;
			}
		}

		@media only screen and (max-width:480px)
		{
			nav .menulist.open{
				width: 90%;
				left: 20px;
			}
		}

		@media only screen and (max-width:430px)
		{
			nav .menulist.open{
			width: 90%;
			left: 17px;
			}
		}

		@media only screen and (max-width:415px)
		{
			nav .menulist.open{
			width: 90%;
			position: absolute;
			}
		}
